@-ms-viewport{
  width: device-width;
}



body {
  background: url("../img/rag.png") repeat-x center;
  background-color: #e4e4e4;
  background-position: top;
  text-shadow: white;
  color: rgba(0, 0, 0, 0.7);
  font-family: Georgia;
}

p {
  line-height: 22px;
}


#col1 {
  width: 25%;
  float: left;
  margin-top: 40px;
}

#logobg{
  position: relative;
  width: 300px;
}

#logotext {
  position: absolute;
  top: 175px;
  left: 85px;
}

.bodywrapper {
  /*width: 75%;*/
  margin-top: 40px;
  float: right;
  margin-left: 300px;
  position: absolute;
}

.headercol {
  width: 20%;
  float: left;
  text-align: center;
  margin: 20px;
  position: relative;
  overflow: none;
  color: #890101;
}

.line {
  border-bottom: 1px solid black;
}

.ornament {
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;

  /*width: 30%;*/
}

#the:hover ~ .line > .ornament {
  display: block;
}

#victors {
  display: table;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 30px;
}

#victors:before, #victors:after {
  content: "";
  width: 50%;
  background: url("../img/ornament.png") repeat-x center center;

  display: table-cell;
  background-clip: padding-box;
}

#victors:before {
  border-right: 10px solid transparent;
}

#victors::after {
  border-left: 10px solid transparent;
}


.gallerycol {
  width: 16%;
  float: left;
  text-align: center;
  color: #890101;
}

.image {
  width: 85%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
}

#italicword {
  font-style: italic;
}

#italicword::before {
  content: " work";
}

.small {
  font-size: 12px;
  line-height: 2px;
}

.large {
  font-size: 16px;
  font-weight: bold;
  line-height: 2px;
  letter-spacing: 2px;
}


@media screen and (max-width:1199px) {
  #headerwrapper {
    clear: both;
    display: inline;
    width: 295px;
    float: left;
    overflow: none;
  }

  .headercol {
    width: 95%;
    float: left;
    text-align: center;
    margin: 0px;
    overflow: none;
    color: #890101;
    }

  #col1 {
    width: 30%;
    float: left;
    margin-top: 40px;
  }

  .gallerycol {
    width: 33%;
    /*float: left;*/
    text-align: center;
    color: #890101;
  }
  .small, .large {
    font-size: 10px;
    /*font-family: sans-serif;*/
  }
  h3 {
    padding-top: 0px;
  }
}

@media screen and (max-width:599px) {

  /*#col1 {
    display: none;
  }*/

  #logobg{
    display: none;
  }

  #logotext {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    float: left;
    margin: 3px;
    padding-bottom: 0px;
  }

  #headerwrapper {
    display: inline-block;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%
  }

  .headercol {
    /*float: left;*/
    width: 33%;
    text-align: center;
    /*overflow: none;*/
    color: #890101;
    /*position: absolute;*/
    /*top: 0px;*/
  }
/*
  .small, .large {
    font-size: 14px;
    font-family: sans-serif;
  }*/

  .bodywrapper {
    /*width: 75%;*/
    margin-top: 80px;
    clear: both;
    margin-left: 0px;
    position: relative;
  }

  .line {
    width: 100%;
  }

  h3 {
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 1px;
    margin-top: 0px;
  }

  #victors {
    font-size: 26px;
  }
  .gallerycol {
    width: 50%;
    /*float: left;*/
    text-align: center;
    color: #890101;
  }

}
